.footer-bottom {
  min-height: calc(100vh - 134px - 56px);
}
.main-footer-bottom {
  min-height: calc(100vh - 134px - 56px - 150px);
}
.login-footer-bottom {
  min-height: calc(100vh - 134px - 40px - 2rem);
}
.search-footer-bottom {
  min-height: calc(100vh - 134px - 150px - 254px);
}

@include media-breakpoint-up(md) {
  .main-footer-bottom {
    min-height: calc(100vh - 134px - 56px - 200px);
  }
  .search-footer-bottom {
    min-height: calc(100vh - 134px - 200px - 214px);
  }
}
