.contact {
  .info {
    #map {
      height: 300px;
      @include media-breakpoint-up(sm) {
        height: 350px;
      }
      @include media-breakpoint-up(md) {
        height: 500px;
      }
    }
  }
  .feedback {
    margin-top: 4rem;
    @include media-breakpoint-up(md) {
      margin-top: 6rem;
    }
  }
  .badge-custom {
    border-radius: 3px;
    padding-top: 0.6em;
  }
}
