.contact {
  .info {
    li {
      @include media-breakpoint-up(sm){
        border-right: 1px solid $gray-300;
      }
      &:first-child {
        @include media-breakpoint-up(sm){
          border-left: 1px solid $gray-300;
        }
      }
      .border-bottom {
        @include media-breakpoint-up(sm){
          border-bottom: none !important;
        }
      }
    }
    &-icon {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      color: $white;
      background-color: $primary;
      opacity: .75;
      i {
        font-size: 3rem;
      }
    }
  }
  .feedback {
    margin-top: 4rem;
    @include media-breakpoint-up(md) {
      margin-top: 6rem;
    }
  }
  #map {
    height: 350px;
    @include media-breakpoint-up(sm) {
      height: 400px;
    }
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
}
