.anniversary {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/calon/1648019857639.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=pZpx6vP2lVhIp2vRJAGkRqdHxNfD1zOoCSDz%2BVhw498YMzhKeQir09DREfTKAMQU25XYmiSuTx%2B6wSpvXU%2Fej%2BNjEuG21Dhlgn0%2BjKHfriYmBqMnUpeFJuoWRWd6mg2eDw5iBmVOdTss4L3ULo1jGwwB340cZWXZhzDLKJKLzUeyUwXSSAW5Vj1HUm7FaJfJbWUDROmKe1Sqwyy0EMlkD%2BYtyFwmIdG9e%2FrAXz%2FsDo7iSwirn%2F62qwtsd47kxaxNHikyTiu0wuChHYPye1sCrtEYWWhPA%2BIKrDb66LCMsDAj%2FyVg%2BpVL7OnjzjS6ZmoGx1VXRqKtkESK%2FXtn95ZfQA%3D%3D');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
      color: $white;
      position: relative;
      font-weight: $font-weight-bold;
      letter-spacing: .5rem;
      padding-bottom: .25rem;
      &::after {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        left: -0.25rem;
        height: .4rem;
        width: 100%;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
      }
    }
  }
  .content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &-text {
      margin: 0 auto 0 auto;
      text-indent: 2.5rem;
    }
  }
  @include media-breakpoint-up(md) {
    .banner {
      height: 200px;
    }
    .content {
      padding-top: 6rem;
      padding-bottom: 6rem;
      &-text {
      width: 80%;
      margin-bottom: 4rem;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &-text {
      width: 60%;
    }
  }
}
