.userProducts {
  .searchInput {
    opacity: .4;
    background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/calon/1648623925555.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=C84iSjEV53TeTT0m8AnATbwbIA3OH6B41kkCTRCb9H2PKgY6AQO0o24QhKDLHi7nZuFcx1NIsSNadomVcjQaS4iauemXgWvn2%2BsalICFNWmKBYrhBSLFL0DqQU3X3Z2sBqy6A5cajeTtIgBdJNHbmyxTbmsNBL90ICG0eiEyKt65ARxyTKuH7UxbUdOVLbmY2mOEw8UinAJdPocVeyw8JTEY6Z6sWRhsVGKK65oovw9gFd5u38fnPIJkwzBnlDkXkV1ADn2nYgd%2Bw5plrQbgnIiGd9IGU%2BlTlX%2Brczida%2BrEIZiEsDX2%2B17o%2FLM8ghbsYMF%2FI4s3BTx2PDdtWrs%2B1A%3D%3D');
    background-repeat: no-repeat;
    background-position: center left .5rem;
    background-size: 20px;
    padding-left: 2.25rem;
  }
}
